# Datasets
data/*.csv
data/*.xlsx
data/*.zip

!data/README.md
!data/README_DATASET.md

# Python
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
.venv/
venv/
.env

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db